body {
    font-family: sans-serif;
    padding: 1em;
}

h1 {
    margin-bottom: 1.5em;
}

a {
    margin-bottom: 1em;
}

ul li {
    margin-bottom: 20px;
}


.fett {
    font-weight: bold;
}

.kursiv {
    font-style: italic;
}

.klein {
    font-size: 0.6em;
}

.abstand_unten {
    margin-bottom: 2.5em;
}

textarea, input[type="text"] {
    width: 100%;
    margin-bottom: 1.5em
}
@media (min-width: 800px) {
    textarea, input[type="text"] {
        width: 50%;
    }
}

#eingabe_begriff, #eingabe_erklaerung {
    font-size: 1.25em;
}