<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'Eintrag im Glossar: ' + ${begriff}"></title>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

  <h1>
    Eintrag im Glossar: <span th:text="${begriff}"></span>
  </h1>

  <p th:if="${ist_angemeldet}">
    Angemeldet als Nutzer:
    <span th:text="${nutzername}"></span>
    ( <a href="/logout">Logout</a> )
  </p>
  <p th:unless="${ist_angemeldet}" class="abstand_unten">
    Sie sind nicht angemeldet ( <a href="/login">anmelden</a> ).
  </p>

  <p th:if="${fehlermeldung != null and #strings.length(fehlermeldung) > 0}">
    Fehlermeldung:
    <span th:text="${fehlermeldung}"></span>
  </p>

  <br>

  <p>
    <span class="fett">Erklärung:</span>
    &nbsp;
    <span th:text="${erklaerung}"></span>
  </p>

  <br>

  <div class="klein" th:if="${zeitpunkt_angelegt != null and #strings.length(zeitpunkt_angelegt) > 0}">
    <p>
        <span class="fett">Erstellt am:</span>
        &nbsp;
        <span th:text="${#temporals.format(zeitpunkt_angelegt, 'dd.MM.yyyy, HH:mm:ss')}"></span>
    </p>
    <p th:if="${zeitpunkt_geaendert != null and #strings.length(zeitpunkt_geaendert) > 0}">
        <span class="fett">Letzte Änderung:</span>
        &nbsp;
        <span th:text="${#temporals.format(zeitpunkt_geaendert, 'dd.MM.yyyy, HH:mm:ss')}"></span>
    </p>
  </div>
  <div class="klein">
    <p>
      <span class="fett">Angelegt von:</span>
      <span th:text="${autor_erzeugung}"></span>    
    </p>
    <p th:if="${zeitpunkt_geaendert != null and #strings.length(zeitpunkt_geaendert) > 0}"><!-- Letzte Änderung kann auch vom Erzeuger gewesen sein, deshalb Zeitwerte vergleichen-->
      <span class="fett">Letzte Änderung von:</span>
      <span th:text="${autor_aenderung}"></span>    
    </p>
  </div>

  <br>

  <p th:if="${ist_angemeldet}">
    <a th:href="@{/app/bearbeiten/{id}(id=${eintrag_id})}">Eintrag bearbeiten</a>
  </p>

  <a href="../hauptseite">Zurück zur Hauptliste</a>

</body>
</html>