<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Glossar: Überblick</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

  <h1>Glossar: Überblick</h1>

  <p th:if="${nutzername != null and nutzername != ''}">
    Angemeldet als Nutzer:
    <span th:text="${nutzername}"></span>
    ( <a href="/logout">Logout</a> )
  </p>
  <p th:unless="${nutzername != null and nutzername != ''}">
    Sie sind nicht angemeldet ( <a href="/login">anmelden</a> ).
  </p>

  <p>
    Anzahl der Einträge im Glossar:
    <span th:text="${#lists.size(begriffe)}">
  </p>

</body>
</html>