<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Glossar: Überblick</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

  <h1>Glossar: Überblick</h1>

  <p th:if="${ist_angemeldet}">
    Angemeldet als Nutzer:
    <span th:text="${nutzername}"></span>
    ( <a href="/logout">Logout</a> )
  </p>
  <p th:unless="${ist_angemeldet}">
    Sie sind nicht angemeldet ( <a href="/login">anmelden</a> ).
  </p>

  <br>

  <h2>Einträge ( <span th:text="${#lists.size(eintraege)}"></span> ) </h2>
  <ul>
    <li th:each="eintrag : ${eintraege}"><!-- über alle einträge iterieren -->
      <a th:href="@{/app/eintrag/{id}(id=${eintrag.id})}">
        <span th:text="${eintrag.begriff}"></span>
      </a>
    </li>
  </ul>

</body>
</html>