<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${seitentitel}"></title>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

  <h1 th:text="${seitentitel}"></h1>

  <p th:if="${ist_angemeldet}">
    Angemeldet als Nutzer:
    <span th:text="${nutzername}"></span>
    ( <a href="/logout">Logout</a> )
  </p>

  <p th:if="${fehlermeldung != null and #strings.length(fehlermeldung) > 0}">
    Fehlermeldung:
    <span th:text="${fehlermeldung}"></span>
  </p>

  <div>
    <label for="eingabe_begriff" class="fett">Begriff:</label>
    <br><br>
    <input type="text" id="eingabe_begriff" name="begriff">

    <br><br>

    <label for="eingabe_erklaerung" class="fett">Erklärung:</label>
    <br><br>
    <textarea id="eingabe_erklaerung" name="erklaerung" rows="10"></textarea>

    <!-- Unsichtbares Element, ist nur für Änderunge gefüllt -->
    <input type="hidden" id="eintrag_id" name="eintrag_id" value="${eintrag_id}">
  </div>

  <br>

  <div>
    <a href="#" onclick="return onSpeichernButton();">Speichern</a>
    &nbsp;
    <a href="/app/hauptseite">Abbrechen</a>
  </div>


  <!-- Erst JavaScript-Datei laden, wenn DOM-Baum geladen ist. -->
  <script src="../../neuAendern.js"></script>

</body>
