<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${seitentitel}"></title>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

  <h1 th:text="${seitentitel}"></h1>

  <p th:if="${ist_angemeldet}">
    Angemeldet als Nutzer:
    <span th:text="${nutzername}"></span>
    ( <a href="/logout">Logout</a> )
  </p>

  <p th:if="${fehlermeldung != null and #strings.length(fehlermeldung) > 0}">
    Fehlermeldung:
    <span th:text="${fehlermeldung}"></span>
  </p>

  <br>

  <a href="/app/hauptseite">Zurück zur Hauptliste</a>

</body>
